
.navbar-1{
    background-color: white;
}

.blue {
    color:  #38ABF2;
}

.white {
    color: white;
}

.p-15{
    padding: 15px 15px 15px;
}

.p-10{
    padding: 10px 10px 10px;
}

.card-edit{
    border-radius: 20px;
    box-shadow: 0px 4px 0px rgb(162, 162, 162) ;

}

.card-penyuluh {
    /* background-color:  #38ABF2; */
    border: 3px solid #38ABF2;
    padding: 20px 20px 20px;
    width: 500px;
}

.card-program {
    padding: 15px 15px 15px;
    background-color: #C8E9FD;
    box-shadow: 0px 2px 0px rgb(208, 205, 205);
    border: 1px solid #C8E9FD;
}

.card-motivasi {
    border: none;
}

.card-kontrasepsi{
    border: 1px solid rgb(141, 141, 141);
    border-radius: 15px;
    box-shadow: 0px 2px 0px gray;
}

.td-none{
    text-decoration: none;
    color: black;
}

.br-5{
    border-radius: 5px;
}

.poppins{
    font-family: poppins;
}

.br-10{
    border-radius: 10px;
}

.br-15{
    border-radius: 15px;
}

.teks-navbar{
    font-family: poppins;
}

.btn-blue{
    background-color: #38b6ff;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    width: 100%;
    /* box-shadow: 3px 3px 3px gray; */
}

.btn-blue:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    
}

.btn-blue2{
    background-color: #299BE2;
    color: white;
    border-radius: 15px;
    width: 110px;
    height: 35px;
}

.btn-blue2:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    
}

.btn-tambah{
    background-color: #299BE2;
    color: white;
    border-radius: 15px;
    width: 110px;
    height: 40px;
}

.btn-tambah:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    
}

.btn-edit {
    background-color: rgb(85, 85, 248);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
}

.btn-edit:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}


.mt-100{
    margin-top: 100px;
}

.ms-midle{
    margin-right: 38%;
}

.card1{
    border-radius: 15px;
    border: 1px solid rgb(185, 182, 182);
}

.icon {
    padding: 10px;
    background:#38b6ff;
    color: rgb(0, 0, 0);
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
}

.card-admin {
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    background-color: #38ABF2;
    padding: 3px;
    color: white;
    
}

.mw-60{
    max-width: 600%;
}


@media (max-width: 1200px) {
    .card-query {
        margin-top: 5%;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .justify {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}